simplified_ui true
tab_frames false
pane_frames false

ui {
    pane_frames {
        hide_session_name true
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

keybinds {
    locked {
        bind "Ctrl ;" { LaunchOrFocusPlugin "zellij:session-manager" {
            floating true
        }
    }
        bind "þ" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
        bind "Ctrl h" { MoveFocus "Left"; }
        bind "Ctrl l" { MoveFocus "Right"; }
        bind "Alt g" { SwitchToMode "Normal"; }
    }
    normal {
    }
}
